@tailwind base;
@tailwind components;
@tailwind utilities;


/* VARIABLES */
:root {
  --main-pink: 224 33 138;
  --background-white: 255 255 255;
  
  --main-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  --small-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 
}


body {
  background-color: rgb(var(--background-white));
}


/* NAVIGATION BAR */
.navbar {
  background-color: rgb(var(--background-white));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: var(--small-shadow);
}

.navbar-title {
  color: rgb(var(--main-pink));
  font-family: 'Cherry Bomb One', sans-serif;
  font-size: 32pt;
}


/* MAIN PAGE STUFF */
.main-stuff {
  display: flex;
  background-color: rgb(var(--background-white));
  padding: 150px 40px 0px 40px;
  width: 100%;
}

.profile-picture {
  display: flex;
  padding: 30px;
  background-color: rgb(var(--background-white));
  box-shadow: var(--main-shadow);
  border-radius: 20px;
  .cell {
    width: 70px;
    height: 70px;
  }
  .active {
    background-color: blue;
  }
}

.settings{
  padding: 0px 30px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .main-title {
    font-size: 36px;
    margin-bottom: 5px;
  }
  
  .button {
    
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .generate-button {
    color: rgb(var(--background-white));
    background-color: rgb(var(--main-pink));
    height: 70px;
    font-size: 32px;
  }

  .download-button {
    display: flex;
    align-items: center;
    color: rgb(var(--main-pink));
    background-color: rgb(var(--background-white));
    border: 2px solid rgb(var(--main-pink));
    height: 60px;
    font-size: 28px;
    .material-symbols-outlined{
      font-size: 28px;
    }
  }
}

